body{
    text-align: center;
}

h1::first-letter{
    font-family: lucida calligraphy;
    font-size: 3cm;
    color: red;
    text-shadow:  5px 8px 9px yellow;
}

q::before{
    content: "<<";
    color: blue;
}

q::after{
    content: ">>";
    color: red;
}
